<!doctype html>
<html ng-app="todo">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body ng-controller="MainCtrl as main">


    <header class="navbar navbar-default">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="github.com/ninsy" target="_blank">GitHub</a>
          </li>
          <li>
            <a
              ng-if="main.currentUser"
              ng-click="main.logout()"
              target="_blank">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div ui-view class="container-fluid"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="vendor/angular-ui-router.min.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="app/todo.js"></script>
    <script src="app/common/common.js"></script>
    <script src='app/common/models/tasks-model.js'></script>
    <script src='app/common/models/user-model.js'></script>
    <script src='app/common/services/auth-service.js'></script>
    <script src="app/tasks/tasks-controller.js"></script>
    <script src="app/login/login-controller.js"></script>
    <script src="app/main/main-controller.js"></script>
  </body>
</html>
